.navbar {
  width: 100%;
  background-color: #fff;

  padding: 10px 10px;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  color: #4d4d4d;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links li {
  text-transform: uppercase;
}

.nav-links a {
  text-decoration: none;
  color: #828383;
  font-weight: bold;
}

.nav-links a:hover {
  color: #5a5e5f;
}

.search-box input[type="text"] {
  height: 30px;
  padding: 0 20px;
  font-size: 15px;
  border: 1px solid #ccc;
  min-width: 80%;

}
.search-box button{
  height: 20px;
  width: 20px;
}
